:host {
  --mat-dialog-headline-padding: 40px 40px 13px;
  --mat-dialog-with-actions-content-padding: 20px 40px 0;
  --mat-dialog-actions-padding: 16px 40px 40px;
}

.dialog-close-button {
  margin-right: 32px;
}
