.mat-mdc-dialog-container {
  --mat-dialog-container-shape: 20px;
  --mat-form-field-outlined-container-shape: 10px;
  --mat-button-filled-container-shape: 8px;
  --mat-button-outlined-container-shape: 8px;
  --mat-button-text-container-shape: 8px;
  --mat-button-protected-container-shape: 8px;
  --mat-button-tonal-container-shape: 8px;

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .mat-mdc-dialog-title {
      flex: 1 1 auto;
    }
  }

  .dialog-close-button {
    flex: 0 0 auto;
    margin-top: 4px;
  }
}
